<div class="jumbotron " style="position: relative">
  <div class="text-left title">
    <h1 class="display-6 text-left my-0" style="color: #000; font-weight: bold">
      Stephanie J. Lakin
    </h1>
    <h5 style="color: #222629" class="d-inline ms-1">Software Engineer</h5>
    <app-nav
      class="d-inline"
      style="position: absolute; margin-left: 30%; "
    ></app-nav>
  </div>

  <div class="d-none d-md-block"  style="position: absolute; bottom: 20px; right: 20px">
    <a href="https://www.linkedin.com/in/stephaniejlakin" target="_blank">
      <img
        src="../assets/img/linkedLogo.png"
        width="30"
        height="30"
        alt="linkedin logo"
        class="rounded-circle mx-2"
        title="Linkedin"
      />
    </a>
    <a
      href="https://github.com/StephanieLakin?tab=repositories"
      target="_blank"
    >
      <img
        src="../assets/img/github.png"
        width="30"
        height="30"
        alt="github logo"
        class="rounded-circle mx-2"
        title="GitHub"
      />
    </a>
  </div>
</div>
