/* #profile {    
        -webkit-filter: grayscale(100%) !important;
        filter: grayscale(100%) !important;  
} */
/* img {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
a:hover{
    opacity: 0.80;
    cursor: pointer !important;
} */
