<!-- <div class="container mt-5 ">
  <div class="row gap-5"> -->
    <!-- about me -->
    <!-- <div class="col-lg shadow rounded border m-1">
      <div class="text-center">
        <h2 class="my-4" style="color:#A69485 !important;">About Me</h2>
        <img id="profile"  src="../assets/img/newprofile.jpg" class="m-4 rounded" alt="profile-image" width="250" height="300" style="object-fit: cover; object-position: top;"> -->
        <!-- <img src="../assets/img/newprofile.jpg" class="rounded-circle" alt="profile-image" width="auto" height="256" style="object-fit: fill;background-color: dimgrey; object-position: bottom;"> -->
         <!-- <p class="my-4" style="color: #A69485;">BA In Graphic Design and Media Arts W/Concentration in Web Design • Post Degree Web
            Application Development Certificate • Experienced Software Engineer • Start-Up Experience •
            Extensive Work in Greenfield Development • Experience with Agile Development
            Methodologies and Promoting a Continuous Improvement Mindset and Culture
            </p>        
            
      </div>
    </div> -->
    <!-- featured project -->
    <!-- <div class="col-lg shadow rounded border m-1">
        <div class="text-center">
            <h2 class="my-3" style="color:#A69485 !important;">Featured Project</h2>
            <h4 style="color: #ACBAAD;">{{featuredProject.name}}</h4>
        </div>
        <carousel>
            <div *ngFor="let picture of featuredProject.pictures">
                <slide>
                    <img src={{picture}} alt="first slide" style="display: block; width: 540px;height: 400px;" class="carousel-image rounded">
                  </slide>
            </div>
        </carousel>
        <p class="mt-2 text-center" style="color: #A69485;" >{{featuredProject.summary}}</p>
        <p class="text-center" ><a routerLink="/portfolio" style="color:#ACBAAD; text-decoration: none; font-weight: bold;cursor: pointer;">Visit the portfolio section to learn more!</a></p>
    </div>
   
  </div>
</div> -->
