 
<div class="container my-5" style="position: relative;">
  <h3 class="d-inline" style="text-align: start; font-weight: bold;">Resume</h3>
  <div class="row my-4 col-12 justify-content-between">
    <div class="col-6 col-sm-auto mb-2"><button class="btn btn-outline" style="font-weight:bold" (click)="navigateToSection('work')">Work</button></div> 
    <div class="col-6 col-sm-auto mb-2"><button class="btn btn-outline" style="font-weight:bold" (click)="navigateToSection('education')">Education</button></div> 
    <div class="col-6 col-sm-auto mb-2"><button class="btn btn-outline" style="font-weight:bold" (click)="navigateToSection('experience')">Experience</button></div> 
    <div class="col-6 col-sm-auto mb-2"><button class="btn btn-outline" style="font-weight:bold" (click)="navigateToSection('skills')">Skills</button></div>
    <div class="col-auto ms-auto"><button class="btn btn-outline-primary" style="font-weight:bold" id="dwnld" (click)="downloadFile()" >Download PDF</button></div>
  </div>
 
 <div class="col-12"><hr ></div>
  <div class="py-2 text-start col-6 col-sm-auto">
    <div class="my-4">
      <div class="pb-2 h5" id="work"><strong>Work:</strong></div>
      <p class="mb-0"><strong>Freelance Developer</strong></p>
      <div class="row">
        <p style="font-size: small">
          <strong
            ><span class="remote">Ohio - Remote </span>
            <span style="margin-right: 250px"></span>
            <span class="date">September 2023 to Present</span></strong
          >
        </p>

        <p class="mb-4">
          Engaged in freelance work for a pioneering greenfield development
          initiative, collaborating on the creation of a compelling web
          application and mobile app for a local startup specializing in
          IoT/RFID asset tracking. Utilizing expertise in .NET MAUI, Angular 16,
          and .NET 7, with a focus on Web API integration.
        </p>
      </div>

      <div class="mb-4">
        <p class="mb-0">
          <strong>Software Engineer / Product Delivery Mgr.</strong>
        </p>
        <p style="font-size: small">
          <strong
            ><span class="remote">Real Time Intel - Remote </span>
            <span style="margin-right: 180px"></span>
            <span class="date">October 2020 to May 2022</span></strong
          >
        </p>
        <p class="mb-2">
          Worked with an Agile development team building, testing & implementing
          supply chain visibility web & mobile software using Angular 10, C#,
          .Net Core, REST API, Xamarin Forms, Git & Azure Dev Ops. Created UX/UI
          design for & assisted in implementation of rfid and barcode reader
          asset tracking mobile application in Xamarin Forms for both IOS and
          Android. Contributed to team discussions around system component
          design, improvement and integration. Worked with customers on system
          usability, set up and implementation.
        </p>
      </div>

      <div class="mb-4">
        <p class="mb-0"><strong>Software Engineer</strong></p>
        <p style="font-size: small">
          <strong
            ><span class="remote">Point Click Care - Remote </span>
            <span style="margin-right: 120px"></span>
            <span class="date">November 2018 to September 2020</span></strong
          >
        </p>
        <p class="mb-2">
          Worked with an Agile development team supporting and enhancing the
          COMS Interactive disease management product suite and interoperability
          solutions using C#, React.js, jQuery and TSQL. SVN and Git version
          control. Bitbucket & Jira
        </p>
      </div>

      <div class="mb-4">
        <p class="mb-0"><strong>Software Engineer</strong></p>
        <p style="font-size: small">
          <strong
            ><span class="remote">AmTrust - Cleveland, Oh</span>
            <span style="margin-right: 160px"></span>
            <span class="date">March 2017 to November 2018</span></strong
          >
        </p>
        <p class="mb-2">
          Maintained multi-tenant and proprietary software for insurance
          applications including CRM and workers comp. ASP.NET, MVC Web based
          applications C#, VB, AngularJS, and MSSQL
        </p>
      </div>

      <div class="mb-4">
        <p class="mb-0"><strong>Help Desk Analyst</strong></p>
        <div class="row">
          <p style="font-size: small">
            <strong
              ><span class="remote">InfoCision Management Corp</span>
              <span style="margin-right: 160px"></span>
              <span class="date">March 2015 to March 2017</span></strong
            >
          </p>
        <p class="mb-2">
          Designed and developed the new setup website for InfoCision’s Work at
          Home Communicators: https://secure.infocision.com/wah/ Logged and
          track incidents and requests from identification through resolution.
          Coordinate Call Center Downtime procedures between Escalation Teams
          and Call Center Supervisors.
        </p>
      </div>

      <div class="pb-2 h5" id="education"><strong>Education:</strong></div>
      <div class="mb-4">
        <p class="mb-0">
          <strong
            >BA <small>Graphic Design and Media Arts with Concentration in Web
              Design</small></strong
          >
        </p>
        <p class="mb-2">SNHU - 2020</p>

        <p class="mb-0">
          <strong>Certificate, Web Application Development</strong>
        </p>
        <p class="mb-2">Cuyahoga Community College - 2016</p>

        <p class="mb-0"><strong>Associates</strong></p>
        <p class="mb-2">Cuyahoga Community College - 2014</p>
      </div>

      <div class="pb-2 h5" id="experience"><strong>Experience:</strong></div>
      <p class="mb-0">
        <strong
          >Mobile Application Development with Xamarin/C# for iOS and
          Android:</strong
        >
      </p>
      <p class="mb-2">
        • Developed supply chain visibility mobile applications using Xamarin
        Forms for both iOS and Android platforms.<br />
        • Designed and implemented RFID and barcode reader asset tracking mobile
        applications using .Net Maui for Android Zebra Readers.<br />
        • Worked closely with customers on system usability, setup, and
        implementation for mobile applications.
      </p>

      <p class="mb-0">
        <strong
          >Back-end Solutions with .NET Core/EF and Various Frameworks:</strong
        >
      </p>
      <p class="mb-2">
        • Experience in designing, developing, and maintaining back-end
        solutions using .NET Core.<br />
        • Proficiency in working with Entity Framework (EF) for database access
        and manipulation.<br />
        • Utilized ASP.NET MVC for developing web-based applications and RESTful
        APIs to support mobile applications.
      </p>
      <p class="mb-2">
        <strong> Agile Development Methodologies:</strong><br />
        • Proven experience working in Agile development environments, ensuring
        iterative development, collaboration, and responsiveness to change.<br />
        • Contributed to team discussions around system component design,
        improvement, and integration, aligning with Agile principles.<br /><br />

        <strong> UI/UX Design and Implementation:</strong><br />
        • Created UX/UI designs for mobile applications, focusing on delivering
        intuitive and user-friendly interfaces.<br />
        • Collaborated with design teams and stakeholders to ensure seamless
        integration of design elements into the final product.<br /><br />

        <strong>
          Version Control Systems and Continuous Integration/Continuous
          Deployment (CI/CD):</strong
        ><br />
        • Proficient in using Git and Azure DevOps for version control and CI/CD
        pipelines, automating builds, testing, and deployment processes.<br />
        • Actively involved in maintaining CI/CD workflows for efficient
        software delivery.<br /><br />

        <strong> Customer Interaction and Support:</strong><br />
        • Demonstrated ability to work closely with customers, understanding
        their requirements, and providing timely support and assistance
        throughout the development lifecycle.<br /><br />

        <strong> Test Automation and Quality Assurance:</strong><br />
        • Developed automated test suites for frontend applications using Mocha,
        Chai, and Selenium, ensuring high software quality and reliability.<br />
        • Implemented testing strategies to validate mobile application
        functionality and performance across different platforms.<br /><br />
      </p>

      <p class="mb-0"><strong>Summary:</strong></p>
      <p class="mb-2">
        With a solid foundation in software engineering, experience in mobile
        application development, proficiency in relevant frameworks and
        technologies, and a track record of successful project delivery, I am
        well-equipped to take on various software development challenges. My
        proactive approach to learning and adapting to new technologies,
        combined with my collaborative mindset and commitment to delivering
        high-quality solutions, showcase my readiness to contribute effectively
        to any project or role.
      </p>

      <div class="row mx-6 col-12 mb-5 pb-2" id="skills">
        <div class="pb-0 h5 mt-4"><strong>Skills:</strong></div>
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li>HTML5 & CSS3</li>
            <li>JavaScript & Typescript</li>
            <li>PrimeNg & Bootstrap</li>
            <li>Visual Studio & VS Code</li>
            <li>Adobe CC</li>
            <li>.Net Maui / Xamarin-Forms</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li>ReactJs, C#, Angular</li>
            <li>MSSQL Server & Entity Framework</li>
            <li>Git, Jira & Bit Bucket</li>
            <li>Azure Dev Ops</li>
            <li>Agile / Scrum</li>
            <li>.Net Core Web API</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


